$main: #ce7a58 !global;
$second: #903938 !global;
$three: #67a99f !global;
$fourth: #ffc600 !global;
$border: #e2e2e2;
$border1: #e9f0f8;
$text: #1e2f41;
$link: #2a6ebb;
$bg: #eaa031;

$success: #7c964c;
